Package: cn.fries.kwaihookui
Name: KwaiHookUi
Description: KwaiHookUi
Maintainer: sttt
Author: sttt
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://Mieing.Github.io/repo/file/kuaishou.png
Architecture: iphoneos-arm64
Version: 1.0.6
Installed-Size: 72
